.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25vw 0.5vw;
  background-color: #f3d0d7;
  border-bottom: 0.25vw solid #f0ebe3;
}

.company_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2vw;
  font-family: "Dancing Script", cursive;
  padding: 0.5vw;
  padding-left: 1.5vw;
  font-weight: bold;
  color: #76453b;
  text-shadow: 0.1vw 0.01vw #dac0a3;
}

.company_name:hover {
  cursor: pointer;
}

.nav_buttons {
  display: flex;
  gap: 0.75vw;
  padding-right: 1.5vw;
}

.nav_buttons button {
  padding: 0.25vw 2.5vw;
  border: none;
  border-radius: 1.5vw;
  font-size: 1.75vw;
  font-weight: bold;
  background-color: #e8b4b8;
  color: #67595e;
  cursor: pointer;
  font-family: "Sacramento", cursive;
  font-weight: 600;
}

.nav_buttons button:hover {
  color: #ffffff;
  background-color: #a49393;
  border: 0.1vw solid #67595e;
  text-shadow: 0.075vw 0.075vw #67595e;
}
