.rent-room-page {
  background-color: #f8fae5;
  padding: 2.5vw;
  font-family: "Arial", sans-serif;
  margin: 0 auto;
  min-height: 36vw;
}

.rent-room-page h2 {
  font-size: 3vw;
  font-family: "Dancing Script", cursive;
  margin-bottom: 1.5vw;
  color: #e8b4b8;
  text-shadow: 0.05vw 0.05vw #000000;
  text-align: center;
}

.rent-room-page label {
  width: 12vw;
  font-size: 1.25vw;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #76453b;
  margin-bottom: 1vw;
}
.rent-room-page input[type="text"],
.rent-room-page input[type="date"],
.rent-room-page input[type="number"] {
  width: 15vw;
  padding: 0.75vw 0.5vw;
  margin-bottom: 1vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.5vw;
  font-size: 1vw;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#selectedRentalDate {
  width: 12vw;
  border-radius: 0.5vw 0 0 0.5vw;
}

.noRentals {
  font-size: 1.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #76453b;
  margin-top: 3vw;
  margin-left: 30vw;
}

.clear-date-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5vw 1vw;
  margin-bottom: 1vw;
  border-radius: 0 0.5vw 0.5vw 0;
  font-size: 1.5vw;
  cursor: pointer;
  border: 0.1vw solid #ccc;
}

button:hover {
  background-color: #0056b3;
}
.search {
  margin: 0 40vw;
  margin-top: 1.5vw;
}
.room-list {
  margin: 2.5vw 1.75vw;
  display: flex;
  flex-wrap: wrap;
}

.room-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.5vw;
  padding: 2vw;
  margin: 0.5vw;
  width: 25vw;
}

.room-card h3 {
  margin-top: 0;
  font-size: 2.25vw;
  font-family: "Dancing Script", cursive;
  margin-bottom: 1vw;
  color: #76453b;
  text-shadow: 0.1vw 0.01vw #dac0a3;
}

.room-card p {
  margin: 0.5vw 0;
  font-size: 1.25vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #76453b;
}

.location-date-rent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.duration-rate-rent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.date-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
